# ===============================
# APP
# ===============================
PORT=8080

# ===============================
# DATABASE (PostgreSQL)
# ===============================
DB_URL=jdbc:postgresql://localhost:5432/virtu360
DB_USER=postgres
DB_PASSWORD=1234

# Opcional (JPA)
DDL_AUTO=update
SHOW_SQL=true

# Pool de conexiones
DB_POOL_SIZE=10
DB_MIN_IDLE=2

# ===============================
# ACTUATOR
# ===============================
ACTUATOR_ENDPOINTS=health,info

# ===============================
# LOGGING
# ===============================
LOG_LEVEL=INFO

# ===============================
# CLOUDINARY
# ===============================
CLOUDINARY_CLOUD_NAME=cloud-name
CLOUDINARY_API_KEY=api-key
CLOUDINARY_API_SECRET=api-secret