# =========================================================
# SPRING PROFILE
# =========================================================
APP_PROFILE=dev

# =========================================================
# SERVER
# =========================================================
SERVER_PORT=8080
SERVER_CONTEXT_PATH=/

# =========================================================
# DATABASE
# =========================================================
DEV_DB_URL=jdbc:postgresql://localhost:5432/virtu360_dev
DEV_DB_USERNAME=postgres
DEV_DB_PASSWORD=1234

# =========================================================
# HIKARI POOL
# =========================================================
DB_MAX_POOL_SIZE=10
DB_MIN_IDLE=2

# =========================================================
# TIMEZONE
# =========================================================
APP_TIMEZONE=UTC

# =========================================================
# FILE UPLOAD
# =========================================================
MAX_FILE_SIZE=15MB
MAX_REQUEST_SIZE=20MB

# =========================================================
# CORS
# =========================================================
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174

# =========================================================
# CLOUDINARY
# =========================================================
CLOUDINARY_CLOUD_NAME=cloudinary-cloud-name
CLOUDINARY_API_KEY=cloudinary-api-key
CLOUDINARY_API_SECRET=cloudinary-api-secret